.hello {
    color: $gray;
}

img {
    display: block;
    width: 200px;
    height: 200px;

    transition: height 200ms;
    transform: translateX(-10%);

    color: $grayish2;
}

.content {
    font-size: 24px;
    max-width: 400px;
}